<form enctype="multipart/form-data" method="post" style="width: 400px; margin: auto;">
    {% csrf_token %}
    {% for campo in formulario %}
    <div class="mb-3">
        <label for="" class="form-label">{{campo.label}}:</label>
        
        {% if campo.field.widget.input_type == 'file' and campo.value %}
        <br>
        <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" height="100" width="100" alt="{{campo.value}}" >
        {% endif %}

        <input type="{{campo.field.widget.input_type}}" 
               class="form-control" 
               name = "{{campo.name}}"
               placeholder="{{campo.label}}"
               value="{{campo.value | default:''}}">
    </div>
    <div class="col-12 help-text">
        {{campo.errors}}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Enviar</button>
    <button type="reset" class="btn btn-warning">Limpiar</button>
    <a type="button" href="{% url 'libros' %}" class="btn btn-danger">Cancelar</a>

</form>