{% extends "base.html" %}

{% block titulo %} Lista de libros {% endblock %}

{% block contenido %} 

<h1 style="text-align: center;">Libros</h1>

<div class="card">
    <div class="card-header">
        <a role="button" href="{% url 'crearLibro' %}" class="btn btn-success"><i class="fas fa-plus"></i></a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                <tr>
                    <td>{{ libro.id }}</td>
                    <td>{{ libro.titulo }}</td>
                    <td>
                        <img src="{{ libro.imagen.url }}" width="100" height="100">
                    </td>
                    <td>{{ libro.descripcion }}</td>
                    <td> 
                        <a href="{% url 'editar' libro.id %}" role="button" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'eliminarLibro' libro.id %}" role="button" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>             
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}